<div class="col-md-6 mx-auto mt-5">
  <h1>welcome to <strong>Meshiterro</strong>  !!</span></h1>
  <p>In  <span class="glyphicon glyphicon-book"></span><strong>Meshiterro</strong>, </p>
  <p>SNS community that indiscriminately stimulates the appetite of sensible citizens.</p>
  <div class="row">
   <p class="ml-3">
     <%= link_to "Log in" ,user_session_path, class: "btn btn-info" %>
   </p>
   <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>
  </div>
</div>


