<div class="container">
 <div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
   <h5 class="text-dark bg-light p-4 mb-0">ユーザーログイン</h5>
   <div class="form-body p-4">
     <div class="mx-auto text-center">
       <p>
         メールアドレスと
         <br>
         パスワードを入力してください。
       </p>
     </div>
<%= form_with model: @user,url: user_session_path do |f| %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
     <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
     </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",  placeholder: "メールアドレス" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
     <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
     </div>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "パスワード" %>
  </div>
    <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-info mt-5" %>
<% end %>
</div>